.rspec

# Ignore Gemfile.lock
Gemfile.lock

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
spec/dummy/log

## Environment normalization:
/.bundle
/vendor/bundle

# Ignore Byebug command history file.
.byebug_history
